@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px; 
        width: 343px;
    }

    .top {
        padding-top: 147px;
        height: 700px;

        &__img {
            display: none;
        }

        &__img-mob {
            position: absolute;
            background-repeat: no-repeat;
            background-size: auto;
            left: -100px;
            top: -300px;
            height: auto;
            z-index: 1;
        } 

        
       
       
        &__content {
            position: static;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 24;
            padding: 0px;
        }

        &__title {
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0px;
            text-align: center;
        }

        &__text {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            padding-top: 24px;
        }

        &__description {
            font-size: 16px;
            line-height: 1px;
        } 

        &__button {
         display:  none;
        }
    }

    .menu-mob {
        width: 285px;
        height: 55px;
        display: flex;
        align-items: center;
        
                

        &__button {        
            padding: 20px 40px;
            box-sizing: border-box;
            border: 1px solid rgb(32, 32, 39);
            border-radius: 60px;
            background-color: rgb(32, 32, 39);        
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
            text-align: center;
            z-index: 999;
            position: relative;  
            text-decoration: none;
            cursor: pointer;
            width: 285px;
        }
    }

    .games {
        display: none !important;

        &__title {
            font-size: 40px;
            line-height: 49px;
            text-align: left;
            padding-top: 48.34px;
            padding-bottom: 24px;
        }
    }

    .games-mini {
        height: 3740px;
    }

    .game-mini-card__content {
        width: 343px;
        text-align: left;
        padding-left: 16px;
        padding-right: 16px;
    }

    .games-mini__cards {
        height: 567.63px;        
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .game-mini-card {
        width: 343px;
        height: 567.63px;
        display: flex;        
        flex-direction: column;
        
        &__name {
        color: rgb(32, 32, 39);
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        padding-bottom: 16px;
        }

        &__text {
        color: rgb(32, 32, 39);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 32px;
        }

        &__button {  
            width: 285px;   
            box-sizing: border-box;
            border: 1px solid rgb(32, 32, 39);
            border-radius: 60px;
            background-color: rgb(32, 32, 39);        
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
            text-align: center;
            z-index: 999;
            position: relative;  
            text-decoration: none;
            cursor: pointer;
            height: 55px;            
        }
    }

    .game-mini-card-contrary {
        width: 343px;
        height: 567.63px;
        display: flex;        
        flex-direction: column;
    }

    .footer {
    height: 100px;
    }


}